/* 
**************************************************************************
Filename: projectg.css
By. James Halladay, Alex, Glenn
Project: Project 3
Login: jehalladay, ... , ...
Assignment No: 3
File Description:

This file will hold all of Glenn's CSS rules until they are merged into the main project.css file

Date: 

**************************************************************************


I declare that all material in this assessment task is my work
except where there is clear acknowledgement                   
or reference to the work of others. I further declare that I  
have complied and agreed to the CMU Academic Integrity Policy 
at the University website.                                    
                                                    
Author's Name: James Halladay       UID(700#): 700425363   
Author's Name:                      UID(700#):    
Author's Name:                      UID(700#):    

Date:                                               
                                                    
Date Last Modified:                                
**************************************************************************
*/
